body {
      font-family: 'Poppins', sans-serif;
      background-color: #1E252B;
      color: rgba(255, 255, 255, 0.9);
      box-sizing: border-box;
}

.container {
      width: 1224px;
      margin: 0 auto;
}

h2 {
      margin: 0;
      font-weight: 500;
      font-size: 50px;
      line-height: 140%;
}

h3 {
      font-weight: 500;
      font-size: 48px;
      line-height: 130%;
}

.btn-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.78);
      opacity: 0.78;
      background-color: initial;
      border: 0;
      cursor: pointer;
}

.btn-orange {
      height: 48px;
      border: 0;
      background-color: #FF6E30;
      border-radius: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FDF5FF;
      cursor: pointer;
}

.btn-orange_118 {
      width: 118px;
}

.btn-orange_130 {
      width: 130px;
}

.btn-orange_106 {
      width: 106px;
}

.btn-orange_198 {
      width: 198px;
}

.sub-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.55);
}

/* navbar */

.navbar {
      width: 100%;
      margin-top: 26px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.navbar__logo {
      width: 310px;
      display: flex;
      align-items: center;
}

.navbar__logo-text {
      margin-left: 12px;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
}

.navbar__links {
      width: 410px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
}

.navbar__link>a {
      color: rgba(255, 255, 255, 0.55);
      text-decoration: none;
}

.navbar__select {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      background-color: inherit;
      color: rgba(255, 255, 255, 0.55);
      border: 0;
}

.navbar__btn {
      width: 44px;
      margin-right: 41px;

}

/* main */

.main {
      display: flex;
      margin-top: 58px;
}

.main__info {
      width: 50%;
}

.main__title {
      margin-top: 58px;
}

.main__title-dot {
      color: #FF6E30;
}

.main__sub-title {
      max-width: 487px;
      margin-top: 30px;
}

.main__search {
      width: 455px;
      margin-top: 60px;
}

.main__social {
      margin-top: 110px;
      width: 190px;
      display: flex;
      justify-content: space-around;
}

.main__img {
      position: relative;
      width: 50%;
      display: flex;
      justify-content: end;
}

.main__background {
      position: absolute;
      top: 0px;
      right: -45px;
}

/* search */
.input-castom {
      display: flex;
      align-items: center;
      background-color: #283036;
      padding: 8px 11px 8px 18px;
      border-radius: 15px;
      justify-content: space-between;
}

.input-castom__icon {
      flex: 0 0 7%;
}

.input-castom__input {
      flex: 1 1 auto;
}

.input-castom__input>input {
      width: 100%;
      background-color: initial;
      border: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: white;

}

input:focus {
      outline: none;
}

/* popular */

.popular {
      margin-top: 200px;
}

.popular__title {
      text-align: center;
}

.popular__sub-title {
      margin: 25px auto 0;
      max-width: 427px;
      text-align: center;
}

.popular__cards {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
}

.popular__width-card {
      margin-top: 110px;
      width: 27.33%;
      padding: 33px;
}

.popular__more {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 100px;
}

.popular__btn {
      width: 184px;
      height: 64px;
      padding: 17px 38px;
      background-color: inherit;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      color: #FF6E30;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      cursor: pointer;
}

/* .card */


.card__header {
      display: flex;
}

.card_target {
      background: linear-gradient(221deg, rgba(255, 110, 48, 0.25115983893557425) 0%, rgba(40, 48, 54, 1) 14%);
      border-radius: 15px;
      margin-bottom: 30px;
}


.card__name {
      margin-left: 30px;
}

.card__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.78);
}

.card__title_target {
      color: rgba(255, 255, 255, 0.9);
}

.card__sub-title {
      margin-top: 3px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: rgba(255, 165, 55, 0.55);
}

.card__sub-title_target {
      color: #FFA537
}

.card__body {
      margin-top: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.55);
}

.card__body_target {
      color: rgba(255, 255, 255, 0.78);
}

.card__footer {
      margin-top: 30px;
      max-width: 300px;
      display: flex;
      justify-content: space-between;
}

.card__icons {
      width: 96px;
      display: flex;
      align-items: center;
      justify-content: space-around;
}

.card__btn_target {
      height: 42px;
}

/* .brand */

.brand {
      width: 100%;
      margin-top: 200px;
      padding: 55px 0;
      background: linear-gradient(137deg, rgba(255, 110, 48, 0.25115983893557425) 0%, rgba(40, 48, 54, 1) 14%);
      border-radius: 25px;
}

.brand__title {
      text-align: center;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.8);

}

.brand__img {
      margin-top: 55px;
      display: flex;
      justify-content: space-around;
}

/* .Newcower */

.newcomer {
      margin-top: 200px;
      display: flex;
      justify-content: space-between;
}

.newcommer__text {
      width: 50%;
}

.newcommer__sub-title {
      max-width: 427px;
      margin-top: 30px;
}

.newcommer__btn {
      margin-top: 60px;
      height: 58px;
}

.newcomer__cards {
      align-items: flex-end;
      width: 50%;
      display: flex;
      flex-wrap: wrap;
}

.newcomer__width-card {
      max-width: 42.33%;
      padding: 28px 21px;
}

.slider {
      margin-top: 228px;
      width: 100%;
}

.slider__popup {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.slider__info {
      position: relative;
}

.slider__text-icon {
      position: absolute;
      top: -48px;
      left: -53px;
}

.slider__text {
      max-width: 440px;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 0.015em;
      color: rgba(255, 255, 255, 0.78);
}

.slider__dots {
      margin-top: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
}

.slider__dot {
      width: 44px;
      height: 6px;
      background-color: #283036;
      border-radius: 4px;
      margin-right: 18px;
}

.slider__dot_activ {
      background-color: #FF6E30;
}

/* .join  */

.join {
      margin-top: 250px;
      display: flex;
      justify-content: center;
}

.join__overlay {
      max-width: 553px;
      text-align: center;
}

.join__title {
      font-size: 48px;
}

.join__sub-title {
      margin: 25px auto 100px;
      max-width: 427px;
}

/* .footer  */

.line-top-footer {
      width: 100%;
      height: 0.5px;
      margin-top: 240px;
      background-color: rgba(255, 255, 255, 0.15);

}

.footer {
      padding-top: 70px;
      height: 278px;
      width: 100%;
      display: flex;
      justify-content: space-between;
}

.footer__main-info {
      max-width: 260px;
}

.footer__logo {
      display: flex;
      align-items: center;
}


.footer__logo-text {
      margin-left: 12px;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: rgba(255, 255, 255, 0.9);

}

.footer__one-block-title {
      margin-top: 25px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.9);
}

.footer__one-block-sub-title {
      margin-top: 21px;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.55);
}


/* .footer-block  */



.footer-block__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.9);

}
.footer-block__items {
      margin-top: 30px;
}

.footer-block__item {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.55);
}